.is-active {
  border-color: #49bf9d;
  color: #49bf9d !important;
}

.list-reset {
  padding: 0.8em 0 0;
  li {
    padding:0;
    list-style-type: none;
  }
}

.progressContainer {
  progress {
    width:100%;
  }
}

.soundCribPlayer {
  border-radius: 0.35em;
  background-color: rgba(0,0,0,.0625);
  padding:4%;
}

.flex-center {
  text-align: center;
}
