<!-- Two -->
<!--   <section id="two">
    <h2>Artists</h2>
    <div class="row">
      <article class="6u 12u$(xsmall) artist">
        <a href="https://soundcloud.com/asap-rocky/sets/liveloveasap" class="image fit thumb"><img src="images/artists/asap-rocky.jpg" alt="" /></a>
        <h3>A$AP Rocky</h3>
      </article>
      <article class="6u$ 12u$(xsmall) artist">
        <a href="images/artists/brandon-flowers.jpg" class="image fit thumb"><img src="images/artists/brandon-flowers.jpg" alt="" /></a>
        <h3>Brandon Flowers</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
      </article>
      <article class="6u 12u$(xsmall) artist">
        <a href="images/artists/flume.png" class="image fit thumb"><img src="images/artists/flume.png" alt="" /></a>
        <h3>Flume</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
      </article>
      <article class="6u$ 12u$(xsmall) artist">
        <a href="images/artists/diplo.png" class="image fit thumb"><img src="images/artists/diplo.png" alt="" /></a>
        <h3>Diplo</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
      </article>
      <article class="6u 12u$(xsmall) artist">
        <a href="images/artists/krewella.png" class="image fit thumb"><img src="images/artists/krewella.png" alt="" /></a>
        <h3>Krewella</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
      </article>
      <article class="6u$ 12u$(xsmall) artist">
        <a href="images/artists/kendrick-lamar.jpg" class="image fit thumb"><img src="images/artists/kendrick-lamar.jpg" alt="" /></a>
        <h3>Kendrick Lamar</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
      </article>
    </div>
    <!-- <ul class="actions">
      <li><a href="#" class="button">Full Portfolio</a></li>
    </ul>
  </section> -->

<h2>Coming Soon</h2>
